<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="author" class="com.ustglobal.bookproject.di.Author" >
	<property name="name" value="chetan bhagat"></property>
	<property name="penName" value="bhagat"></property>
	</bean>
	
	<bean id="book" class="com.ustglobal.bookproject.di.Book" autowire="byName">
	<property name="bName" value="Half Girlfriend"></property>
	<property name="bPrice" value="980"></property>
	</bean>

</beans>